<a href="https://colab.research.google.com/github/ykitaguchi77/GO_AI_project/blob/main/Hertel%E7%94%BB%E5%83%8F%E6%8A%BD%E5%87%BA_local.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Hertel画像抽出**

CSVのリスト

→Patient numberとdateから画像を抽出

→指定のフォルダに画像をコピー

→画像名前/Hertelのリストを作成しcsvとして出力

In [ ]:


df

     Patient_id  Patient_num      date  Hertel_R  Hertel_L
0      11194169           14  20190604        16        13
1      11378021          332  20190918        20        20
2      11378021          332  20201007        17        15
3      11378021          332  20210407        16        15
4      11631361          421  20181214        19        18
..          ...          ...       ...       ...       ...
261    11786921         9729  20210416        14        17
262    11798971         9767  20200527        13        13
263    11798971         9767  20200701        13        13
264    11798971         9767  20201007        16        16
265    11798971         9767  20210106        15        15

[266 rows x 5 columns]

In [ ]:
import os
import shutil
import pandas as pd

csv_path = r"D:\ダウンロード\Hertel_list_TED.csv" #元csvのパス
source_dir = r"F:\眼位写真NEW" #画像の検索先
destination_dir = r"D:\ダウンロード\HerteL_images_TED" #画像のコピー先
save_path = r"D:\ダウンロード\Img_Hertel_list_TED.csv" #作成したcsvの保存先


# CSVファイルを読み込む
df = pd.read_csv(csv_path)

# 1. 新しいデータフレームdf_TED_listを作成します。
df_TED_list = pd.DataFrame(columns=["file_name", "Patient_num", "Hertel_R", "Hertel_L"])

# ディレクトリの内容を一度だけ取得
path_list = os.listdir(source_dir)

# 一時的なリストを作成して、後でまとめてデータフレームに追加する
temp_data = []

for _, row in df.iterrows():
    # 2. dfのそれぞれの行で、Patient_numとPatient_dateをハイフンでつなげる
    filename_pattern = f"{row['Patient_num']}-{row['date']}"

    matched_files = [file for file in path_list if filename_pattern in file]

    for file in matched_files:
        # もしあれば、そのファイルをr"D:\ダウンロード\HerteL_images_TED"にコピーします。
        shutil.copy(os.path.join(source_dir, file), destination_dir)

        # 一時リストにデータを追加
        temp_data.append({
            "file_name": os.path.basename(file),
            "Patient_num": row['Patient_num'],
            "Hertel_R": row['Hertel_R'],
            "Hertel_L": row['Hertel_L']
        })

        print(f"{filename_pattern} copied")

# 一時リストの内容をデータフレームに追加
df_TED_list = df_TED_list.append(temp_data, ignore_index=True)

#df_TED_listを"D:\ダウンロード"内にcsvとして保存
df_TED_list.to_csv(save_path, index=False)
save_path